.sign-in {
  width: 380px;
  display: flex;
  flex-direction: column;

  .haveanaccount {
    font-size: 20px;
  }

  .title {
    margin: 10px;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }
}

.errorMessage {
  color: red;
  font-size: 90%;
}
